<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">


<body>

<h1>Cars</h1>

<table class="table">

    <tr>
        <th>Make</th>
        <th>Model</th>
    </tr>

    <tr th:each="car : ${cars}">
        <td th:text="${car.make}"></td>
        <td th:text="${car.model}"></td>
    </tr>

</table>


</body>
</html>
